h1 {
    background-color: darkred;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.uk-container {
    margin-left: -15px !important;
}

.uk-card-header, .uk-card-body {
    border: thin grey solid;
}